<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>奇异思维</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" charset="UTF-8" href="/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="/slick-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="/zenburn.css" />
   <!-- <script src="/jQuery.js"></script> -->

  <script type="text/javascript" src="/highlight.pack.js"></script>
  <script type="text/javascript" src="/line-numbers.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>
